<h2>Time sheet</h2>

<form {{action save on="submit"}}>
  
  <p>
    <label for="description">Description</label><br>
    {{view Ember.TextField valueBinding="description" id="description"}}
  </p>
  
  <p>
    <label for="minutes">Minutes</label><br>
    {{view Ember.TextField valueBinding="minutes" id="minutes"}}
  </p>
  
  <p>
    <button type="submit">Save</button>
  </p>

</form>

