
    <div class="container">

      <div class="main-container">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document. oh yeahhh</p>
      </div>

    </div><!-- /.container -->

    <h2>Welcome to Ember.js</h2>

    {{bs-alert message="A self destroyable hello world message!A" type="info" dismissAfter=2 fade=true}}

    <ul>
    {{#each item in model}}
      <li>{{item}}</li>
    {{/each}}
    </ul>